:root{
    --main--black:#212121;
    --link--color:#2196F3;
    --text--color:#757575;
    --black--color:#000;
    --white--color:#fff;
    --bg--color:#F5F4FA;
    --background--section:#2F303A;
}



body{
    font-family: Roboto, sans-serif;
    color: var(--main--black);
    font-style: normal;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.header{
    background: var(--white--color);
}
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    color: var(--link--color);
}

.nav__logo--second{
    color: var(--black--color);
}

.nav__list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav__link{
    color: var(--main--black);
}

.current{
    color: var(--link--color);
}

.nav__list__item:hover a,
.nav__list__item:focus a{
    color: var(--link--color);
}

.header__contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact__link{
    color: var(--text--color);
}

.contact__item:hover a,
.contact__item:focus a {
    color: var(--link--color);
}

.hero{
    background: var(--background--section);
}
.hero__head{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white--color);
}

.hero__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white--color);
    background: var(--link--color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.advantage__item__head{
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.14;
}

.advantage__item__info{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text--color);
}

.second-head{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}


.team__item__head{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team__item__position{
   font-size: 16px;
   line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text--color);
}


.footer {
    background: var(--background--section);
}

.footer__logo--second {
    color: var(--white--color);
}

.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address__map {
    color: var(--white--color);
}

.address__contact {
    color: rgba(255, 255, 255, 0.6);
}






/* ------------------------------------------PORTFOLIO------------------------------------------ */

.projects__btn{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;       
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main--black);
    background: var(--bg--color);
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.projects__btn:hover,
.projects__btn:focus{
    background: var(--link--color);
    color: var(--white--color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
}


.portfolio__item__name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__item__product{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text--color);
}

